@model UfcElo.Web.Models.BoutViewModel
@{
    var redFighter = Model.fighters.First(x => x.Id == Model.bout.RedFighterId);
    var blueFighter = Model.fighters.First(x => x.Id == Model.bout.BlueFighterId);
}


<div class="panel panel-default">
    <div class="panel-body text-center">
        <p>@Model.bout.WeightClass</p>

        @if (Model.bout.isBoutComplete == true)
         {
            if (Model.bout.WinnerId == redFighter.Id)
            {
                <p>Winner  :  Loser</p>
            }
            else
            {
                <p>Loser  : Winner</p>
            }
         }


        @{ 

        }
    <h3>
        
        @redFighter.FirstName
       "@redFighter.Nickname"
        @redFighter.LastName
        vs
        @blueFighter.FirstName
       "@blueFighter.Nickname"
        @blueFighter.LastName
    </h3>
    <h4>
        @redFighter.EloRating
        vs
        @blueFighter.EloRating
    </h4>
    <p>@Model.bout.BoutDate</p>
    <p>@Model.bout.BoutLocation</p>
    <p>@Html.ActionLink("Edit", "Edit", new { id = Model.bout.BoutId })</p>
    <p>@Html.ActionLink("Finalize Bout", "FinalizeBout", new { id = Model.bout.BoutId })</p>

    <p>@Html.ActionLink("Back to List", "Index")</p>
    </div>
</div>
