
@{
    ViewBag.Title = "Details";
}

<h1 class="text-center">@ViewBag.Bout.RedFighterId vs @ViewBag.Bout.BlueFighterId </h1>
<div>
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <p>@ViewBag.Bout.WeightClass</p>
            <p>@ViewBag.Bout.BoutDate</p>
            <p>@ViewBag.Bout.BoutLocation</p>
        </div>
    </div>
</div>

